################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsFormsApplication2/v16/Server/sqlite3
